
<div class="col-md-12">
 <div class="col-md-6">
<%= form_tag url_for(:controller=>"img",:action =>"norminfo"),remote:true  do %>

<h2>Image updation</h2>

 <%= label_tag("Left CTA Button : ")%><%=check_box_tag 'disqus6'%> | <%= label_tag("Right CTA Button : ")%><%=check_box_tag 'disqus7'%> |
 <%= label_tag("Default Center CTA Button : ")%><%=check_box_tag 'disqus8'%> <br>
 

 <%= label_tag("href url: /images/india/infographic/")%><%= text_field(:linki, nil)%> <%= label_tag(".png: ")%><%=check_box_tag 'pngs1'%> | <%= label_tag(".jpg: ")%><%=check_box_tag 'jpgs1'%><br>
 <%= label_tag("Alt Text:")%>&nbsp;<%= text_field(:alts, nil)%><br>
 <%= label_tag("Title Text:")%>&nbsp;<%= text_field(:titles, nil)%><br>
 <%= submit_tag 'Submit'%><br>

<%end%>

<%= form_tag url_for(:controller=>"img",:action =>"thumbinfo"),remote:true  do %>

<h2>Image updation</h2>

<h3><strong>Thumb Info Image</strong></h3>

 <%= label_tag("Left CTA Button : ")%><%=check_box_tag 'disqus9'%> | <%= label_tag("Right CTA Button : ")%><%=check_box_tag 'disqus10'%> |
 <%= label_tag("Default Center CTA Button : ")%><%=check_box_tag 'disqus11'%> <br>
 

 <%= label_tag("href url: /images/india/infographic/")%><%= text_field(:linkis1, nil)%> <%= label_tag(".png: ")%><%=check_box_tag 'pngs'%> | <%= label_tag(".jpg: ")%><%=check_box_tag 'jpgs'%><br>
 <%= label_tag("Alt Text:")%>&nbsp;<%= text_field(:altss1, nil)%><br>
 <%= label_tag("Title Text:")%>&nbsp;<%= text_field(:titless1, nil)%><br>
 
 <h3><strong>Big Info Image</strong></h3>
 
 <%= label_tag("href url: /images/india/infographic/")%><%= text_field(:linkii, nil)%><%= label_tag(".png: ")%><%=check_box_tag 'pngs'%> | <%= label_tag(".jpg: ")%><%=check_box_tag 'jpgs'%><br>
 <%= label_tag("Alt Text:")%>&nbsp;<%= text_field(:altsi, nil)%><br>
 <%= label_tag("Title Text:")%>&nbsp;<%= text_field(:titlesi, nil)%><br>
 <%= submit_tag 'Submit'%><br>
 
 

<%end%>
</div>

 <div class="col-md-6">

 
   <h1 class="text-center">OUTPUT:</h1>
  <p></p>
<div id="tot">
 <textarea class="akil" style="width:600px; height:650px;">
</textarea>
</div>

</div>
</div>