<textarea class="akil" style="width:500px; height:500px;">
    <div class="col-md-12 link-section"<%=@align%>><p class="list-group-item list-group-<%=@div%>"><%=@text%>&nbsp;<strong><a href="<%=@link%>" title="<%=@text2%>"><%=@text3%></a></strong></p></div>
</textarea>