<table class="table table-curved">
<tbody>
<%if @div11 ==""%><tr>
<td style="text-align:center"><strong>Page Contents</strong></td>
</tr>
<%end%>
<tr>
<%if @div11 ==""%><td>
<ol>
<%end%>
<%if @div1!=""%><<%=@list%>><a href="#<%=@div1.gsub(" ","_")%>"><%=@div1%></a></<%=@list%>><%end%> <%if @div11!=""%><<%=@list%>><a href="#<%=@div11.gsub(" ","_")%>"><%=@div11%></a></<%=@list%>><%end%> <%if @div12!=""%><<%=@list%>><a href="#<%=@div12.gsub(" ","_")%>"><%=@div12%></a></<%=@list%>><%end%>
<%if @div2!=""%><<%=@list%>><a href="#<%=@div2.gsub(" ","_")%>"><%=@div2%></a></<%=@list%>><%end%>	<%if @div21!=""%><<%=@list%>><a href="#<%=@div21.gsub(" ","_")%>"><%=@div21%></a></<%=@list%>><%end%> <%if @div22!=""%><<%=@list%>><a href="#<%=@div22.gsub(" ","_")%>"><%=@div22%></a></<%=@list%>><%end%>
<%if @div3!=""%><<%=@list%>><a href="#<%=@div3.gsub(" ","_")%>"><%=@div3%></a></<%=@list%>><%end%>	<%if @div31!=""%><<%=@list%>><a href="#<%=@div31.gsub(" ","_")%>"><%=@div31%></a></<%=@list%>><%end%> <%if @div32!=""%><<%=@list%>><a href="#<%=@div32.gsub(" ","_")%>"><%=@div32%></a></<%=@list%>><%end%>
<%if @div4!=""%><<%=@list%>><a href="#<%=@div4.gsub(" ","_")%>"><%=@div4%></a></<%=@list%>><%end%>	<%if @div41!=""%><<%=@list%>><a href="#<%=@div41.gsub(" ","_")%>"><%=@div41%></a></<%=@list%>><%end%>	<%if @div42!=""%><<%=@list%>><a href="#<%=@div42.gsub(" ","_")%>"><%=@div42%></a></<%=@list%>><%end%>
<%if @div5!=""%><<%=@list%>><a href="#<%=@div5.gsub(" ","_")%>"><%=@div5%></a></<%=@list%>><%end%>	<%if @div51!=""%><<%=@list%>><a href="#<%=@div51.gsub(" ","_")%>"><%=@div51%></a></<%=@list%>><%end%>	<%if @div52!=""%><<%=@list%>><a href="#<%=@div52.gsub(" ","_")%>"><%=@div52%></a></<%=@list%>><%end%>
<%if @div6!=""%><<%=@list%>><a href="#<%=@div6.gsub(" ","_")%>"><%=@div6%></a></<%=@list%>><%end%>	<%if @div61!=""%><<%=@list%>><a href="#<%=@div61.gsub(" ","_")%>"><%=@div61%></a></<%=@list%>><%end%>	<%if @div62!=""%><<%=@list%>><a href="#<%=@div62.gsub(" ","_")%>"><%=@div62%></a></<%=@list%>><%end%>
<%if @div11 ==""%></ol>
</td><%end%>
</tr>
</tbody>
</table>